* {
    margin-left: 1em;
}

body {
    background-color: #090F19;
}

h1 {
    color: #5E617A;
    font-family: jackeyfont;
}

ul {
    margin-left: -1.65em;
}

ul li {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    padding: 0.8em 0.5em 0.5em 2.5875em;
    background: #0B121F;
    font-size 16px;
    font-family: Overpass;
    color: #5E617A;
    transition-duration: 0.2s;
}

ul li:nth-child(odd) {
    background: #0D1524;
}

ul li:hover {
    background: #343F63;
}

#task {
    border: none;
    border-bottom: 2px solid #38446C;
    background: #090F19;
    width: 20%;
    color: #7A7A7A;
}

#addButton, #clearButton, #styleButton {
    background-color: #0B121F;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    font-family: Overpass;
    color: #38446C;
    cursor: pointer;
}

#addButton:hover, #clearButton:hover, #styleButton:hover {
    color: #694B69;
    transition-duration: 0.3s;
}

#rmvButton {
    background: none;
    border: none;
    text-align: center;
    font-size: 18px;
    font-family: jackeyfont;
    color: #CC241D;
    position: absolute;
    margin-left: 0.1em;
    left: 0;
    top: 0;
    padding: 0.70em 1em 1em 0.8em;
}

#rmvButton:hover {
    color: #E98388;
}
